@main("Reddit-Lytics"){
<div class="s004">
    <div>
        <button id="btn"
                type="button">Word Statistics
        </button>
    </div>
    <div id="search-bar">
        <input class="key" id="key" name="key" placeholder="Type to search" type="text">
        <button id="submit_button" style="border-radius: 8px" type="button">Search</button>
    </div>

    <div id="table-1" style="margin-top: 40px;
                width: 100%">
        <table>
            <thead>
            <tr>
                <th>Published on</th>
                <th>Author</th>
                <th>SUBREDDIT</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody id="records_table"></tbody>
        </table>
    </div>
</div>
}