@main("Reddit-Lytics"){
<div class="s004">
    <div>
        <button style="margin: 0px 0px 150px 875px;
                    border-radius: 10px;" type="button" id="word_stats">Word Statistics
        </button>
    </div>
    <div>
        <input class="key" id="key" name="key" type="text" placeholder="Type to search">
        <button style="border-radius: 8px" type="button" id="submit_button">Search</button>
    </div>

    <div style="margin-top: 40px;
                width: 100%">
        <table>
            <thead>
            <tr>
                <th>Published on</th>
                <th>Author</th>
                <th>SUBREDDIT</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody id="records_table"></tbody>
        </table>
    </div>
</div>
<script>
    $("#submit_button").click(function () {
        $.ajax({
            url: "/" + document.getElementById("key").value
        }).done(function (data) {
            let d = data.split("%5097%");
            let table = document.getElementById("records_table");
            $.each(d, function (i, item) {
                let row = table.insertRow(0);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                let it = JSON.parse(item);
                cell1.innerHTML = new Date(it.created_utc).toLocaleDateString();
                cell2.innerHTML = `<a href="/userprofile/${it.author}">${it.author}</a>`;
                cell2.addEventListener("click",function(){
                    window.location.href = "/userprofile/" + it.author;
                });
                cell3.innerHTML = `<a href="/subreddit/${it.subreddit}">${it.subreddit}</a>`;
                cell3.addEventListener("click",function(){
                    window.location.href = "/subreddit/" + it.subreddit;
                });
                cell4.innerHTML = it.title;
            });
        });
    });

    $("#word_stats").click(function () {
        $.ajax({
            url: "/search/" + document.getElementById("key").value
        }).done(function () {
            window.location.href = "/search/" + document.getElementById("key").value;
        });
    });

</script>
}