@main("Reddit-Lytics"){
<div class="s004">
    <div>
        <button id="btn"
                type="button">Word Statistics
        </button>
    </div>
    <div id="search-bar">
        <input class="key" id="key" name="key" type="text" placeholder="Type to search">
        <button style="border-radius: 8px" type="button" id="submit_button">Search</button>
    </div>

    <div style="margin-top: 40px;
                width: 100%" id="table-1">
        <table>
            <thead>
            <tr>
                <th>Published on</th>
                <th>Author</th>
                <th>SUBREDDIT</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody id="records_table"></tbody>
        </table>
    </div>
</div>
<script>
    let final_sentiment = [];
    $("#submit_button").click(function () {
        $.ajax({
            url: "/" + document.getElementById("key").value
        }).done(function (data) {
            let d = data.split("%5097%");
            let table = document.getElementById("records_table");
            for(let i = 0;i < 10;i++){
                let row = table.insertRow(0);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                let it = JSON.parse(d[i]);
                cell1.innerHTML = new Date(it.created_utc).toLocaleDateString();
                cell2.innerHTML = `<a href="/userprofile/${it.author}">${it.author}</a>`;
                cell2.addEventListener("click",function(){
                    window.location.href = "/userprofile/" + it.author;
                });
                cell3.innerHTML = `<a href="/subreddit/${it.subreddit}">${it.subreddit}</a>`;
                cell3.addEventListener("click",function(){
                    window.location.href = "/subreddit/" + it.subreddit;
                });
                cell4.innerHTML = it.title;
            }
            let row2 = table.insertRow(0);
            row2.insertCell(0);
            row2.insertCell(1);
            row2.insertCell(2);
            let cell5 = row2.insertCell(3);
            cell5.style = "font-size:20px";
            cell5.innerHTML = new String("Search Term : " + document.getElementById("key").value).bold()+"   (Sentiment Analyser is running....)";

<!--            let timer = 150;-->
<!--            let current_time = 100;-->
<!--            for(let i = 0;i < 60;i++){-->
<!--                setTimeout(function(){-->
<!--                    getNLPData(JSON.parse(d[i]).selftext,cell5);-->
<!--                },current_time + (timer*i));-->
<!--            }-->
        });
    });

    $("#btn").click(function () {
        window.location.href = "/search/" + document.getElementById("key").value;
    });

    function getNLPData(text,cell5){
        if(text != ""){
            $.ajax({
                "url": "/sentiment",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    text
                }),
            }).done(function(data){
                final_sentiment.push(parseInt(data));
                const map = final_sentiment.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map());
                cell5.innerHTML = new String("Search Term : " + document.getElementById("key").value).bold()+"("+[...map.entries()].reduce((a, e) => e[1] > a[1] ? e : a)+")" +"        Sentiment Results : " + [...map.entries()];
            });
        }
    }
</script>
}