@(words: List[subreddit])

@main("Sub Reddit") {

<div style="margin-top: 40px;width: 100%">
    <h1>Subreddit profile</h1>
    <table>
        <thead>
        <tr>
            <th>Published on</th>
            <th>Author</th>
            <th>SUBREDDIT</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        @for(w <- words){
            <tr>
                <td>@w.getCreated_utc() </td>
                <td>@w.getAuthor()</td>
                <td>@w.getSubreddit() </td>
                <td>@w.getTitle()</td>
            </tr>
        }
        </tbody>
    </table>
</div>
}